.home {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.recharts {
  display: flex;
}
.dropDownBtns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 930px;
  position: fixed;
  margin-top: 250px;
}
.table {
  position: relative;
  margin-top: 200px;
}